<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http_equiv="Content-Type" />
  </head>
  <body>
    <h2 style="font-family: 'Oxygen', sans-serif">Please Remember</h2>
    <p style="font-size: 18px; font-family: 'Oxygen', sans-serif;">
      <% if @daily[:media] == 'video' -%>
        <a href='<%= @daily.link %>'><%= @daily.message %></a>
        <%= @daily.source %>
      <% else -%>
        <%= @daily.message %>
        <a href='<%= @daily.link %>'><%= @daily.source %></a>
      <%end -%>
    </p>
    <p style="font-size: 14px; font-family: 'Oxygen', sans-serif;">
      click <a href="<%= @unsubscribe_url %>">here</a> to unsubscribe
    </p>
  </body>
</html>
